<p mat-dialog-title>{{ 'users.updatePassword' | translate }}</p>
<mat-dialog-content>
	<form [formGroup]="updateUserPasswordFormGroup" (ngSubmit)="updateUserPasswordFormSubmit()" class="w-[600px]">
		<!-- input -->
		<mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{ 'users.tableAndForm.password' | translate }}</mat-label>
		<mat-form-field appearance="outline" class="w-100" color="primary">
			<input matInput formControlName="password" type="password" autocomplete="new-password" />
			<mat-error>
				<app-form-error-message [control]="formControls.password" />
			</mat-error>
		</mat-form-field>

		<!-- input -->
		<mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">{{ 'users.tableAndForm.confirmPassword' | translate }}</mat-label>
		<mat-form-field appearance="outline" class="w-100" color="primary">
			<input matInput formControlName="confirmPassword" type="password" autocomplete="new-password" />
			<mat-error>
				<app-form-error-message [control]="formControls.confirmPassword" />
			</mat-error>
		</mat-form-field>

		<div class="d-flex flex-sm-row flex-column align-users-center justify-content-start gap-8 m-t-12">
			<button mat-flat-button color="primary" type="submit">{{ 'common.update' | translate }}</button>
		</div>
	</form>
</mat-dialog-content>
