<mat-card class="cardWithShadow">
	<mat-card-content>
		<div class="row justify-content-between m-b-8">
			<div class="col-lg-5 col-sm-6 d-flex align-items-center">
				<div>
					<mat-card-title>{{ 'items.list' | translate }}</mat-card-title>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4">
				<mat-form-field appearance="outline" class="w-100">
					<input matInput (keyup)="applyFilter($event)" placeholder="{{ 'common.search' | translate }}" />
				</mat-form-field>
			</div>
		</div>

		<div class="d-flex d-sm-block align-items-center gap-1 m-b-16 m-t-16">
			<button mat-fab extended (click)="itemsService.openAddItemModal()">
				<mat-icon>add</mat-icon>
				{{ 'items.add' | translate }}
			</button>
		</div>

		<div class="material-table-responsive">
			<table mat-table [dataSource]="dataSource" matSort>
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.name' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.name }}
					</mat-cell>
				</ng-container>

				<!-- Part Number Column -->
				<ng-container matColumnDef="partNumber">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.partNumber' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{ row.partNumber }}</mat-cell>
				</ng-container>

				<!-- Store Column -->
				<ng-container matColumnDef="store">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.store' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.store }}
					</mat-cell>
				</ng-container>

				<!-- Shelf Column -->
				<ng-container matColumnDef="shelf">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.shelf' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.shelf }}
					</mat-cell>
				</ng-container>

				<!-- Quantity Column -->
				<ng-container matColumnDef="quantity">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.quantity' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.quantity }}
					</mat-cell>
				</ng-container>

				<!-- Price Column -->
				<ng-container matColumnDef="price">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.price' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.price | number: '1.0-2' }}
					</mat-cell>
				</ng-container>

				<!-- VAT Column -->
				<ng-container matColumnDef="vat">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.vat' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.vat | number: '1.0-2' }}
					</mat-cell>
				</ng-container>

				<!-- Total Price Column -->
				<ng-container matColumnDef="totalPrice">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.totalPrice' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.totalPrice | number: '1.0-2' }}
					</mat-cell>
				</ng-container>

				<!-- Source Column -->
				<ng-container matColumnDef="source">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.source' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.source }}
					</mat-cell>
				</ng-container>

				<!-- Description Column -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'items.tableAndForm.description' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						{{ row.description }}
					</mat-cell>
				</ng-container>

				<!-- Actions Column -->
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef> {{ 'items.tableAndForm.actions' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<div class="flex flex-wrap">
							<button
								mat-icon-button
								class="d-flex"
								aria-label="Edit button"
								matTooltip="Edit item"
								(click)="itemsService.openEditItemModal(row.original)">
								<i-tabler name="edit" class="icon-20"></i-tabler>
							</button>
							<button
								mat-icon-button
								class="d-flex"
								aria-label="Edit button"
								matTooltip="Edit price"
								(click)="itemsService.openEditItemPriceModal(row.original)">
								<i-tabler name="pencil-dollar" class="icon-20"></i-tabler>
							</button>
							<button
								mat-icon-button
								class="d-flex"
								aria-label="Add button"
								matTooltip="Increment quantity"
								(click)="itemsService.openEditItemQuantityModal(row.original)">
								<i-tabler name="plus" class="icon-20"></i-tabler>
							</button>
							<button
								mat-icon-button
								class="d-flex"
								aria-label="Sell button"
								matTooltip="Sell item"
								(click)="itemsService.openSellItemModal(row.original)">
								<i-tabler name="brand-telegram" class="icon-20"></i-tabler>
							</button>
						</div>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</table>

			<mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
		</div>
	</mat-card-content>
</mat-card>
