<div class="blank-layout-container justify-content-center">
	<div class="position-relative row w-100 h-100">
		<div class="col-lg-7 col-xl-8 p-0 bg-gredient">
			<div class="p-24 h-100">
				<!--TODO change the logo-->
				<!--        @if (options.theme === 'light') {-->
				<!--          <a [routerLink]="['/']">-->
				<!--            <img src="./assets/images/logos/logo-dark.svg" class="align-middle m-2" alt="logo" />-->
				<!--          </a>-->
				<!--        }-->

				<!--TODO change the logo-->
				<!--        @if (options.theme === 'dark') {-->
				<!--          <a [routerLink]="['/']">-->
				<!--            <img src="./assets/images/logos/logo-light.svg" class="align-middle m-2" alt="logo" />-->
				<!--          </a>-->
				<!--        }-->

				<div class="align-items-center justify-content-center img-height d-none d-lg-flex">
					<img src="/assets/images/backgrounds/login.svg" alt="login" style="width: 100%; max-width: 600px" />
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-xl-4 p-0">
			<div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
				<div class="row justify-content-center w-100">
					<div class="col-lg-9 max-width-form">
						<h4 class="f-w-700 f-s-24 m-0">{{ 'login.title' | translate: { appName: APP_NAME } }}</h4>

						<form class="m-t-30" [formGroup]="loginFormGroup" (ngSubmit)="submit()">
							<mat-form-field appearance="outline" class="w-100" color="primary">
								<mat-label>{{ 'common.username' | translate }}</mat-label>
								<input matInput formControlName="username" />
								<mat-error>
									<app-form-error-message [control]="formControls.username" />
								</mat-error>
							</mat-form-field>

							<mat-form-field appearance="outline" class="w-100 m-t-12" color="primary">
								<mat-label>{{ 'common.password' | translate }}</mat-label>
								<input matInput type="password" formControlName="password" />
								<mat-error>
									<app-form-error-message [control]="formControls.password" />
								</mat-error>
							</mat-form-field>

							<button mat-flat-button color="primary" class="w-100" [disabled]="loginFormGroup.invalid">Sign In</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
