/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Style to fix the weird border with angular material
.mdc-notched-outline__notch {
	border-right: none !important;
}

.material-table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	.mat-table {
		width: 100%;
		max-width: 100%;
		display: table;
		border-collapse: collapse;
		margin: 0;
	}
	.mat-row,
	.mat-header-row {
		display: table-row;
	}
	.mat-cell,
	.mat-header-cell {
		word-wrap: initial;
		display: table-cell;
		padding: 0 5px;
		line-break: unset;
		width: auto;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
	}
}
