<mat-card class="cardWithShadow">
	<mat-card-content>
		<div class="row justify-content-between m-b-8">
			<div class="col-lg-5 col-sm-6 d-flex align-items-center">
				<div>
					<mat-card-title>{{ 'shelves.list' | translate }}</mat-card-title>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4">
				<mat-form-field appearance="outline" class="w-100">
					<input matInput (keyup)="applyFilter($event)" placeholder="{{ 'common.search' | translate }}" />
				</mat-form-field>
			</div>
		</div>

		<div class="d-flex d-sm-block align-items-center gap-1 m-b-16 m-t-16">
			<button mat-fab extended (click)="openAddShelfModal()">
				<mat-icon>add</mat-icon>
				{{ 'shelves.add' | translate }}
			</button>
		</div>

		<div class="table-responsive m-t-30">
			<mat-table [dataSource]="dataSource" matSort>
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-16">
						{{ 'shelves.tableAndForm.name' | translate }}</mat-header-cell
					>
					<mat-cell *matCellDef="let row">
						{{ row.name }}
					</mat-cell>
				</ng-container>

				<!-- Description Column -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
						{{ 'shelves.tableAndForm.description' | translate }}</mat-header-cell
					>
					<mat-cell *matCellDef="let row"> {{ row.description }}</mat-cell>
				</ng-container>

				<!-- Store Column -->
				<ng-container matColumnDef="store">
					<mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16"> {{ 'shelves.tableAndForm.store' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{ row.store.name }}</mat-cell>
				</ng-container>

				<!-- Actions Column -->
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16"> {{ 'shelves.tableAndForm.actions' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<div class="d-flex">
							<button mat-icon-button class="d-flex" aria-label="Edit button" matTooltip="Edit" (click)="openEditShelfModal(row)">
								<i-tabler name="edit" class="icon-20"></i-tabler>
							</button>
						</div>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

			<mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
		</div>
	</mat-card-content>
</mat-card>
